@use 'sass:math';

.floatButton {
  width: 56px;
  height: 56px;
  background: var(--float-button-bg);
  // border-radius: 50%;
  border-radius: math.div(56px, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  right: 16px;

  .icon {
    fill: var(--float-button-text);
  }
}
