.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--navbar-bg-start),
    var(--navbar-bg-end)
  );

  color: var(--navbar-text);
  fill: var(--navbar-text);
  padding: 40px 16px 12px;
}

.icon {
  &_wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

.title {
  &_wrapper {
    font-size: 24px;
    margin-left: 16px;
  }
}
